.info-title{
    padding: 0 15px;
}

.title{
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #afa4a4a1;
}

.title-span{
    font-size: 32px;
    font-weight: 700;
    color: #5b636e;
}

.body-context{
    display: flex;
}

.block-context{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-right: 30px;
    margin-top: 20px;
}



.text-content{
    font-weight: 700;
}

span{
    color: #3a3e44;
    font-size: 15px;
}

img{
    width: 120px;
    height: 120px;
}

.no-avatar{
    margin-left: 30px;
    
}
 .no-avatar>img{
    margin-top: 25px;
 }