{% extends 'core_admin.html'%}
{% load static %}
{% block title%}Hồ sơ sinh viên{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/admin_mngprofilestd.css' %}">
<script src="{% static 'js/admin_mngprofilestd.js' %}"></script>
{% endblock %}
{% block titlepage %}HỒ SƠ SINH VIÊN {% endblock %}
{% block content %}
<div class="search-profile">
    <div class="part-area">
        <h5>Tìm kiếm hồ sơ</h5>
        <div class="search-box d-flex">
            <label class="d-flex align-items-center">Tìm theo:</label>
            <form method="get" class="d-flex align-items-center">
                {% csrf_token %}
                <select name="search_field" class="search_field">
                    <option value="id" {% if search_field == 'id' %}selected{% endif %}>MSSV</option>
                    <option value="name" {% if search_field == 'name' %}selected{% endif %}>Họ Tên</option>
                    <option value="birthdate" {% if search_field == 'birthdate' %}selected{% endif %}>Ngày sinh</option>
                    <option value="address" {% if search_field == 'address' %}selected{% endif %}>Quê quán</option>
                    <option value="class" {% if search_field == 'class' %}selected{% endif %}>Lớp</option>
                    <option value="gender" {% if search_field == 'gender' %}selected{% endif %}>Giới tính</option>
                    <option value="ethenicity" {% if search_field == 'ethenicity' %}selected{% endif %}>Dân tộc</option>
                    <option value="phone" {% if search_field == 'phone' %}selected{% endif %}>Điện thoại</option>
                    <option value="email" {% if search_field == 'email' %}selected{% endif %}>Email</option>
                    <option value="identity" {% if search_field == 'identity' %}selected{% endif %}>CCCD/CMND</option>
                </select>
                {{ search_form.search_query }}
                <button type="submit" id="searchbutton"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            <div class="creat-profile ml-auto">
                <div class="button-add-profile">
                    <button type="button" class="btn btn-light btn-custom" id="addprofile">
                        <i class="fa fa-plus add-icon" aria-hidden="true"></i>Thêm mới
                    </button>
                </div>
            </div>
        </div>

        <div class="results-table" id="results-table">
            <table class="table-custom ">
                <thead class="table-head">
                    <tr>
                        <th class="colume2"></th>
                        <th>MSSV</th>
                        <th>Họ và tên</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>Lớp</th>
                        <th>Quê quán</th>
                        <th>Khoa</th>
                        <th>Khóa</th>
                    </tr>
                </thead>
                <tbody class="results-body" id="results-body">
                    {% for result in results %}
                    <tr class="table-body" id="row-table" data-idStd="{{result.idStd}}">
                        <td class="colume2" id="avc">{{ forloop.counter }}</td>
                        <td>{{ result.idStd }}</td>
                        <td>{{ result.nameStd }}</td>
                        <td>{{ result.datebirthStd|date:"d/m/Y" }}</td>
                        <td>{{ result.genderStd }}</td>
                        <td>{{ result.idClass.idClass }}</td>
                        <td>{{ result.addressStd }}</td>
                        <td>{{ result.idClass.department.faculty }}</td>
                        <td>{{ result.idClass.idCourse }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="notfound">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
<div class="form-editprofile part-area" id="form-editprofile">
    <div class="showprofile div-profile" id="showprofile">
        <div class="detailprofile">
            <h5>Thông tin sinh viên</h5>
            <div class="bordercard">
                <div class="d-flex">
                    <label>
                        <span>MSSV:</span>
                        <span id="select-idStd" class="span-context"></span>
                    </label>
                    <label>
                        <span>Điện thoại:</span>
                        <span id="select-phoneStd" class="span-context"></span>
                    </label>
                </div>
                <div class="d-flex">
                    <label>
                        <span>Họ tên:</span>
                        <span id="select-nameStd" class="span-context"></span>
                    </label>
                    <label>
                        <span>Email:</span>
                        <span id="select-emailStd" class="span-context"></span>
                    </label>
                </div>
                <div class="d-flex">
                    <label>
                        <span>Ngày sinh:</span>
                        <span id="select-datebirthStd" class="span-context"></span>
                    </label>
                    <label>
                        <span>Khoa:</span>
                        <span id="select-idClass-faculty" class="span-context"></span>
                    </label>
                </div>
                <div class="d-flex">
                    <label>
                        <span>Giới tính:</span>
                        <span id="select-genderStd" class="span-context"></span>
                    </label>
                    <label>
                        <span>Chuyên ngành:</span>
                        <span id="select-idClass-department" class="span-context"></span>
                    </label>
                </div>
                <div class="d-flex">
                    <label>
                        <span>Hộ khẩu thường trú:</span>
                        <span id="select-addressStd" class="span-context"></span>
                    </label>
                    <label>
                        <span>Khóa học:</span>
                        <span id="select-idClass-idCourse" class="span-context"></span>
                    </label>
                </div>
                <div class="d-flex">
                    <label>
                        <span>CCCD:</span>
                        <span id="select-identityStd" class="span-context"></span>
                    </label>

                    <label>
                        <span>Lớp:</span>
                        <span id="select-idClass" class="span-context"></span>
                    </label>
                </div>
                <div class="d-flex">
                    <label>
                        <span>Dân tộc:</span>
                        <span id="select-ethnicityStd" class="span-context"></span>
                    </label>
                    <label>
                        <span>Tốt nghiệp:</span>
                        <span id="select-graduate" class="span-context"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="action-profile ">
            {% csrf_token %}
            <div class="button-edit d-flex align-items-center">
                <button type="button" class="btn btn-light btn-custom" id="editprofile"><i
                        class="fa fa-pencil pencil-icon" aria-hidden="true"></i>Sửa</button>
            </div>


            <div class="button-close-detail">
                <button type="button" class="btn btn-light btn-custom" id="closedetail">
                    <i class="fa fa-window-close-o trash-icon" aria-hidden="true"></i>Đóng
                </button>
            </div>
        </div>
    </div>

    <div class="edit-profile div-profile" id ="edit-profile">
        <div class="editcard-profile">
            <h5 id="title-card"></h5>
            <div class="bordercard">
                <div class="d-flex">
                    <label>
                        <span class="span-context">MSSV:</span>
                        <span id="select-idStd-edit"></span>
                        <input id="value-idStd" name="idStd" type="number" min="0" class="not-empty" maxlength="10">
                        <span class="required">(*)</span>
                    </label>
                </div>
                <div class="d-flex">
                    <label>
                        <span class="span-context">Mật khẩu:</span>
                        <input id="select-password-edit" name="password" class="not-empty"></input>
                        <span class="required">(*)</span>
                    </label>
                    <label>
                        <span class="span-context">Điện thoại:</span>
                        <input id="select-phoneStd-edit" name="phoneStd" type="number" min="0" maxlength="10"></input>
                    </label>
                </div>
                <div class="d-flex">
                    <label>
                        <span class="span-context">Họ tên:</span>
                        <input id="select-nameStd-edit" name="nameStd" class="not-empty" maxlength="32"></input>
                        <span class="required">(*)</span>
                    </label>
                    <label>
                        <span class="span-context">Email:</span>
                        <input id="select-emailStd-edit" name="emailStd" type="email" maxlength="40"></input>
                    </label>
                </div>
                <div class="d-flex">
                    <label>
                        <span class="span-context">Ngày sinh:</span>
                        <input id="select-datebirthStd-edit" name="datebirthStd" class="not-empty" type="date"></input>
                        <span class="required">(*)</span>
                    </label>
                    <label>
                        <span class="span-context">Khoa:</span>
                        <select id="select-idClass-faculty-edit"></select>
                        <span class="required">(*)</span>
                    </label>
                </div>
                <div class="d-flex">
                    <label>
                        <span class="span-context">Giới tính:</span>
                        <select id="select-genderStd-edit" name="genderStd" class="not-empty">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                            <option value="Khác">Khác</option>
                        </select>
                        <span class="required">(*)</span>
                    </label>
                    <label>
                        <span class="span-context">Chuyên ngành:</span>
                        <select id="select-idClass-department-edit"></select>
                        <span class="required">(*)</span>
                    </label>
                </div>
                <div class="d-flex">
                    <label>
                        <span class="span-context">Hộ khẩu thường trú:</span>
                        <input id="select-addressStd-edit" name="addressStd" maxlength="50"></input>
                    </label>
                    <label>
                        <span class="span-context">Khóa học:</span>
                        <select id="select-idClass-idCourse-edit"></select>
                        <span class="required">(*)</span>
                    </label>
                </div>
                <div class="d-flex">
                    <label>
                        <span class="span-context">CCCD:</span>
                        <input id="select-identityStd-edit" name="identityStd" type="number" min="0" maxlength="12"></input>
                    </label>
                    <label>
                        <span class="span-context">Lớp:</span>
                        <select id="select-idClass-edit" name="idClass" class="not-empty"></select>
                        <span class="required">(*)</span>
                    </label>
                </div>
                <div class="d-flex">
                    <label>
                        <span class="span-context">Dân tộc:</span>
                        <input id="select-ethnicityStd-edit" name="ethnicityStd" maxlength="10"></input>
                    </label>
                    <label id="gradutelb">
                        <span class="span-context">Tốt nghiệp:</span>
                        <select id="select-graduate-edit" name="graduate">
                            <option value="True">Chưa tốt nghiệp</option>
                            <option value="False">Đã tốt nghiệp</option>
                        </select>
                        <span class="required">(*)</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="action-edit">
            <div class="button-save d-flex align-items-center">
                <button type="submit" class="btn btn-light btn-custom" id="saveprofile"><i
                        class="fa fa-floppy-o pencil-icon" aria-hidden="true"></i>Lưu</button>
            </div>

            <div class="button-refresh">
                <button type="button" class="btn btn-light btn-custom" id="button-refresh">
                    <i class="fa fa-file-o trash-icon" aria-hidden="true"></i>Làm mới
                </button>
            </div>

            <div class="button-close-edit">
                <button type="button" class="btn btn-light btn-custom" id="closeedit">
                    <i class="fa fa-window-close-o trash-icon" aria-hidden="true"></i>Đóng
                </button>
            </div>
        </div>
    </div>

</div>

{% endblock %}