{% extends 'core_std.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/transcript.css' %}">
<script src="{% static 'js/tuitionfee.js' %}"></script>
{% endblock %}

{% block title %}Học phí{% endblock title %}

{% block content %}
<div class="p-3 bg-white">
  <div class="head-tuitionfee">
    <div class="head-block">
      <div>
        <span class="title-span">Học phí</span>
      </div>
    </div>
    <div class="head-block">
      <div class= "semester-selectbox">
        <span>Học kỳ</span>
        <select id="select-semester"></select>
      </div>
    </div>
    <div class="head-block">
      <div class="print-to-excel">
        <button type="button" id="btn-print-tuitionfee" class="action-btn btn-custom-1"><i
            class="fa fa-table mr-2 fa-table-custom" aria-hidden="true"></i>In ra excel</button>
      </div>
    </div>
  </div>
  <div class="table-tuitionfee">
    <div id="list-module-std" class="div-table">
      <table id="tb-list-module" class="table-custom">
        <thead>
          <tr>
            <th></th>
            <th>Mã học phần</th>
            <th>Tên học phần</th>
            <th>Lớp</th>
            <th>Số tín chỉ</th>
            <th>Mức phí</th>
            <th>Số tiền nộp</th>
            <th>Nợ phí</th>
          </tr>
        </thead>
        <tbody id="tbody-tuitionfee">
        </tbody>
      </table>
    </div>
  </div>
  <div class="overall-transcript">
  </div>
</div>
{% endblock content %}